<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${person.getName()}"></title>
</head>
<body>
<p th:text="${person.getName() + ', ' + person.getYearOfBirthday()}"></p>
<hr/>
<!--books here-->
<div th:if="${books != null or !books.isEmpty()}" th:each="book : ${books}">
    <a th:text="${book.getName() + ', ' + book.getAuthor() + ', ' + book.getYearOfProduction()}"></a>
</div>

<p th:if="${books == null or books.isEmpty()}">Person has no books yet</p>
<hr/>
<a th:href="@{/people/{id}/edit(id = ${person.getId()})}">Edit</a>
<form th:method="DELETE" th:action="@{/people/{id}(id = ${person.getId()})}">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Delete">
</form>
</body>
</html>